
@mixin sizes($width,$height){
  width: $width;
  height: $height;
}

.Eventos{
  @include sizes(auto,auto);
  background:map-get($color,main);
  background-size: cover;
  position: relative;
  padding:15px;
}

.card{
  position: relative;
  top: 350px;
}
.card1 .card2 .card3 .card4 .card5{
 @extend.card;
}


.card-text{
  font-family: 'Nunito', sans-serif;
  font-size: 25px;
  color: #FCFAE2;
}



.tituloEventos{
  font-family: 'Nunito', sans-serif;
  font-size: 40px;
 margin-top: 200px;
  
}

.palmeras{
  @include sizes(50px,50px);
  display: flex;
  position: relative;
  top: 200px;
  margin-left: 20px;
  margin-right: 20px;
  
}
 

.box1{
background-color: #D1F2EB;
background-size: cover;
width: 500px;
height: 300px;
position: relative;
bottom:700px;
left:900px;

}

.footerEventos{
  position: relative;

  top:320px;
}
.listaEventos{
  font-size: 25px;
  animation-name: movimiento;
  animation-duration: 2s;
}
@keyframes movimiento{
  50%{
    
    opacity: 0.1;}

  }
  .Eventos__divDescripcionTitulo--pTitulo{
    margin-top: 100px;
  animation-name: movimiento;
  animation-duration: 2s;
}
@keyframes movimiento{
  50%{
    
    opacity: 0.1;}

  }
  

.itemsEventos{
 
  text-decoration: none;
}
.listaEventos{
  list-style-type: none;
}