
footer{
  background-image:map-get($color,footer);
  background-size: cover;
  }

  .ubicacionTitulo1 {
   color: map-get($fontColor,footer);
   font:{
    size:25px;
    family: 'Ramaraja', serif;
  
    style: normal;
  }
  text-shadow:2px 2px 2px grey;
  z-index: 1;

}

.index-nav1__logo--tamañoLogo{
  width:82px ;
  height:auto;
  padding-right: 0px;
}

 .div-redes1__a{
 padding:8px;
 margin-top: 25px;
 }



.redes{
  display: flex;
  flex-direction: row;
  position: relative;
  top: 10px;
  right:70px;
  justify-content: flex-end;
  margin-bottom: 15px;
  padding-top: 10px;
}



.ubicacionTitulo1 {
    display: inline;
    position: relative;
    bottom: -6px;
    left: -17px;
}

.div-redes1__a--formato{
  &:hover{
        transform: scale(1.2);
        color: #1C9ABA;
      }
 }

          
          
        

