@mixin sizes($width,$height){
  width: $width;
  height: $height;
}


.galeria{
 background:map-get($color,main);
 @include sizes(auto,auto);
 background-size: cover;
 padding: 30px;
  }

   .tituloGaleria{
  
  display: flex;
  text-align: center;
  align-items: center;
  font-family: 'Nunito', sans-serif;
  font-size: 45px;
  position: relative;
 margin-top:200px;
 bottom: 50px;
 text-shadow:1px 1px 1px black;

}

.galeria .foto{
  @include sizes(100%,auto);
  transition: width 2s;
  box-shadow:5px 5px 5px grey;
  margin:20px 20px 15px 0px;
 
}

.foto:hover{
  width:500px;
 }


.galeria .col-lg-6{
  padding: 20px;
}
