
.formatoBodyNosotros {
  display: grid;
  grid-template-areas:
  "headerNosotros"
  "mainNosotros"
  "footerNosotros";
  grid-template-columns:100%;
  grid-template-rows:auto auto auto;
}
.headerNosotros{
  grid-area: headerNosotros;
}
.mainNosotros{
  grid-area: mainNosotros;
}
.footerNosotros{
  grid-area: footerNosotros;
}


@media  (max-width: 320px){
  .gridSection{
    display: grid;
    grid-template-areas:
    "tituloNosotros1"
    "texto"
    "imgTimon";
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
  }
  .tituloNosotros1{
  grid-area:tituloNosotros1;
}
.texto{
  grid-area:texto;
}
.imgTimon{
  grid-area:imgTimon;
}

.mainNosotros{
width: 100%;
  height:auto;
  }
.navNosotros{
display: block;
right:-1px;
width: 100%;;
background-image:map-get($color,nav);
background-size:cover;

} 
  
.timon {
  @include sizes(180px,180px);
  margin-bottom:80px;
  
    }

.navTituloNosotros{
  font:{
    size:20px;
    family:'Ramaraja', serif;
    style: normal;
    }
  text-shadow: 1.5px 1.5px 1.5px grey;
  margin-top: 10px;
}
.nav-linkNosotros{
  text-decoration:none;

  color: map-get($fontColor,nav);
  font:{
    size:10px;
    family: 'Nunito', sans-serif;
    weight:bold;
    style: normal;
    }
    text-shadow: 1px 1px 1px grey;
  margin-left:10px;

  }

.logo{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items:center;
}
.imagenNosotros{
position: relative;
 right:10px;
 width: 90px;
}
.ulNosotros{
  display: flex;
  list-style: none;
  position:relative;
  top:0px;
  right:30px;

}
}
}




/*Mobile Horizontal*/
@media  (min-width: 321px) and (max-width: 480px){
  .gridSection{
    display: grid;
    grid-template-areas:
    "tituloNosotros1"
    "texto"
    "imgTimon";
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
  }
  .tituloNosotros1{
  grid-area:tituloNosotros1;
}
.texto{
  grid-area:texto;
}
.imgTimon{
  grid-area:imgTimon;
  margin-bottom:12px;

}

.mainNosotros{
width: 100%;
  height:auto;
  }
.navNosotros{
display: block;
right:-1px;
width: 100%;;
background-image:map-get($color,nav);
background-size:cover;

} 
  
.timon {
  @include sizes(180px,180px);
  margin-bottom:80px;
  
    }

.navTituloNosotros{
  font:{
    size:20px;
    family:'Ramaraja', serif;
    style: normal;
    }
  text-shadow: 1.5px 1.5px 1.5px grey;
  margin-top: 10px;
}
.nav-linkNosotros{
  text-decoration:none;

  color: map-get($fontColor,nav);
  font:{
    size:10px;
    family: 'Nunito', sans-serif;
    weight:bold;
    style: normal;
    }
    text-shadow: 1px 1px 1px grey;
  margin-left:10px;

  }

.logo{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items:center;
}
.imagenNosotros{
position: relative;
 right:10px;
 width: 90px;
}
.ulNosotros{
  display: flex;
  list-style: none;
  position:relative;
  top:0px;
  right:30px;

}
}

	
 @media  (min-width: 1025px){
  .gridSection{
    display: grid;
    grid-template-areas:
    "tituloNosotros1 tituloNosotros1"
    "texto texto "
    "imgTimon imgTimon";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto;
  }
  .tituloNosotros1{
  grid-area:tituloNosotros1;
}
.texto{
  grid-area:texto;
}
.imgTimon{
  grid-area:imgTimon;
}
}
 
 	