.mainIndex{
	background:map-get($color,main);
	padding:20px;
	  height: auto;
    width: auto;

  }

 


.carousel{
text-shadow: 3.5px 3.5px 3.5px black;
color: white;
font-family: 'Nunito', sans-serif;
text-align: center;
}
.titulo1Carrousel  {
	@extend.carousel;
    font-size: 28px;
}


.tituloCarrousel{
	@extend.carousel;
	 font-size: 22px;
}






.carousel-inner{
  z-index:0 ;
}

.slide{
  margin-top: 100px;

}
.slide img{
  height: 72vh;
}

.timonDibujo{
  padding: 35px;
}