.mainIndex{
	background:map-get($color,main);
	padding:20px;
	 // height: 600px;
  //  width: auto;

  }

 //   .imagenCarrousel {
  
 //    height: 420px;

 // }
 .carousel2{
  // margin-top: 100px;
//   height: 420px;
 }

.carousel{
text-shadow: 3px 3px 3px black;
color: white;
font-family: 'Nunito', sans-serif;
text-align: center;
}
.titulo1Carrousel  {
	@extend.carousel;
    font-size: 25px;
}


.tituloCarrousel{
	@extend.carousel;
	 font-size: 22px;
}






.carousel-inner{
  z-index:0 ;
}

.slide{
  margin-top: 100px;

}
.slide img{
  height: 50vh;
}