

  .imagen{
 position: relative;
 right:10px;
 width: 90px;
}
.navTitulo{
  
  font:{
    size:30px;
    family: 'Nunito', sans-serif;
    weight:bold;
    style: normal;
    text-shadow: 2px 2px 2px grey;
    
  
  }
}
.navbar-nav .nav-link {

  color: map-get($fontColor,nav);
  font:{
    size:17px;
    family: 'Nunito', sans-serif;
    weight:bold;
    style: normal;
    text-shadow: 1px 1px 1px grey;

  }
  margin-left:100px;
}
.navbar-nav .nav-link:hover{
  color:white;
  list-style-type: none;
  text-decoration: none;
}
.nav-color{
background-image:map-get($color,nav);
}



.navToggler {
    color: rgba(0,0,0,.5);
    border-color: black;
}






