

.mainNosotros{
	background:$colormainnosotros;
	margin-top: 100px;
	padding-bottom: 150px;
	height:800px;
	.blockquote{
		font-family: 'Cormorant', serif;
		display: flex;
		justify-content: center;
		position: relative;
		top: 200px;
		line-height: 2;
		text-align: center;
		font-family:'Cormorant', serif ;
		font-size: 35px;

	}
}
.timon {
	margin-top: 250px;
			width: 200px;
			height: 200px;
		}