@mixin sizes($width,$height){
  width: $width;
  height: $height;
}

@mixin posiciones($position,$top){
  position: $position;
  top: $top;
}

.formato{
  font-family: 'Nunito', sans-serif;
  color: #FCFAE2;
  
  text-align: center;
  justify-content:center;
  line-height:1.2;
}

.Servicios__div--titulo{
  @extend.formato;
  @include posiciones(relative,100px);
  display: flex;
  
  
  font-size:30px ;
  text-shadow:2px 2px 2px white;
  }

  .Servicios__div__ul{
    @extend.formato;
    @include posiciones(relative,110px);
    font-size:20px ;
   list-style-type: none;
   margin-right: 30px;
  }
  
  .div__video{
    @include posiciones(relative,100px);
    display: flex;
    height:500px;
   
  }
  .Servicios__div{
    @include posiciones(relative,50px);
    
    right: 40px;
    
  }

.texto{
  padding-top: 120px;
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  text-align: center;

}
.Servicios{
background:map-get($color,main);
background-size: cover;
position:relative;
@include sizes(auto,1300px);

}
